<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UISlider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3CBB9E81CE9B60500F5B81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3CBBA011CE9B60500F5B81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3CBBA0C1CE9B60500F5B81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
