<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChangeFrame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A37370091CE091C9007CB146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37370221CE091C9007CB146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A373702D1CE091C9007CB146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
