<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollViewRunLoop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A37787B01D18EBD2009CED73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37787C91D18EBD2009CED73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37787D41D18EBD2009CED73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
